/* App.css */

body {
    background-color: slateblue;
    color: white;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#root {
    flex: 1;
  }
  

#portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Ensure h1 is centered globally */
h1 {
    text-align: center;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
    ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    ul {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: calc(15px + 0.5vw);
    }
    ul {
        width: 95%;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 8px;
    }
}
